body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.countdown-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#countdown {
    display: flex;
    justify-content: center;
}

.time-unit {
    margin: 0 15px;
}

.time-unit span {
    font-size: 48px;
    font-weight: bold;
    display: block;
}

.time-unit p {
    margin: 0;
    font-size: 18px;
    color: #555;
}
